.video-item {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.ui.image.video-image {
  width: 150px;
}

.description-me {
  font-size: 14px;
  line-height: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.content-me:hover {
  color: #0d22e4;
}
